name: docs_pages_workflow

on:
  push:
    branches: [ main, dev ]

jobs:
  build_doc_job:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.TOKEN }}

    steps:
      - name: Checkout
        uses: actions/chechout@v4
        token: ${{ secrets.TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt
          python -m pip install -r requirements.docs.txt

      - name: make docs
        run: |
          make -C docs clean
          make -C docs html

      - name: Init new repo in dist folder and commit generated files
        run: |
          cd docs/_build/html/
          git init
          touch .nojekyll
          git add -A
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'deploy'

      - name: Force push to destination branch
        uses: ad-m/github-push-action@v4
        with:
          github_token: $ {{ secrets.TOKEN }}
          branch: gh-pages
          force: true
          directory: ./docs/_build/html
      